<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/9/plot" value="false" />
    <add key="/intelcpu/0/temperature/10/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/voltage/0/plot" value="false" />
    <add key="/intelcpu/0/voltage/1/plot" value="false" />
    <add key="/intelcpu/0/voltage/2/plot" value="false" />
    <add key="/intelcpu/0/voltage/3/plot" value="false" />
    <add key="/intelcpu/0/voltage/4/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/2/plot" value="false" />
    <add key="/ram/data/3/plot" value="false" />
    <add key="/ram/load/1/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/load/1/plot" value="false" />
    <add key="/gpu-nvidia/0/load/2/plot" value="false" />
    <add key="/gpu-nvidia/0/load/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/4/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/5/plot" value="false" />
    <add key="/gpu-nvidia/0/load/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/7/plot" value="false" />
    <add key="/gpu-nvidia/0/load/9/plot" value="false" />
    <add key="/gpu-nvidia/0/load/8/plot" value="false" />
    <add key="/gpu-nvidia/0/load/5/plot" value="false" />
    <add key="/gpu-nvidia/0/load/6/plot" value="false" />
    <add key="/gpu-nvidia/0/load/10/plot" value="false" />
    <add key="/gpu-nvidia/0/load/11/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/0/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/1/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/0/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/1/plot" value="false" />
    <add key="/nvme/1/temperature/0/plot" value="false" />
    <add key="/nvme/1/level/1/plot" value="false" />
    <add key="/nvme/1/level/2/plot" value="false" />
    <add key="/nvme/1/level/3/plot" value="false" />
    <add key="/nvme/1/data/4/plot" value="false" />
    <add key="/nvme/1/data/5/plot" value="false" />
    <add key="/nvme/1/load/0/plot" value="false" />
    <add key="/nvme/1/load/31/plot" value="false" />
    <add key="/nvme/1/load/32/plot" value="false" />
    <add key="/nvme/1/load/33/plot" value="false" />
    <add key="/nvme/1/throughput/34/plot" value="false" />
    <add key="/nvme/1/throughput/35/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/0/load/31/plot" value="false" />
    <add key="/hdd/0/load/32/plot" value="false" />
    <add key="/hdd/0/load/33/plot" value="false" />
    <add key="/hdd/0/throughput/34/plot" value="false" />
    <add key="/hdd/0/throughput/35/plot" value="false" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/data/2/plot" value="false" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/data/3/plot" value="false" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/throughput/7/plot" value="false" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/throughput/8/plot" value="false" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/load/1/plot" value="false" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/data/2/plot" value="false" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/data/3/plot" value="false" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/throughput/7/plot" value="false" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/throughput/8/plot" value="false" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/load/1/plot" value="false" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/data/2/plot" value="false" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/data/3/plot" value="false" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/throughput/7/plot" value="false" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/throughput/8/plot" value="false" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/load/1/plot" value="false" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/data/2/plot" value="false" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/data/3/plot" value="false" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/throughput/7/plot" value="false" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/throughput/8/plot" value="false" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/load/1/plot" value="false" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/data/2/plot" value="false" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/data/3/plot" value="false" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/throughput/7/plot" value="false" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/throughput/8/plot" value="false" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/load/1/plot" value="false" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/data/2/plot" value="false" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/data/3/plot" value="false" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/throughput/7/plot" value="false" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/throughput/8/plot" value="false" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/load/1/plot" value="false" />
    <add key="/battery/name" value="L18C3PF1" />
    <add key="/battery/level/0/plot" value="false" />
    <add key="/battery/voltage/1/plot" value="false" />
    <add key="/battery/current/2/plot" value="false" />
    <add key="/battery/energy/3/plot" value="false" />
    <add key="/battery/energy/4/plot" value="false" />
    <add key="/battery/energy/5/plot" value="false" />
    <add key="/battery/power/0/plot" value="false" />
    <add key="/battery/timespan/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="190" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/battery/power/0/name" value="Discharge Rate" />
    <add key="/battery/current/2/name" value="Discharge Current" />
    <add key="/battery/level/0/values" value="H4sIAAAAAAAEAJvXr/lzF/99D0FBUae/9vFMDEAAYgMAyrRRLRgAAAA=" />
    <add key="/battery/voltage/1/values" value="H4sIAAAAAAAEAJvXr/lzF/99j4SnZo5/7eOZGIBAd5OlIwDPdsxTGAAAAA==" />
    <add key="/battery/current/2/values" value="H4sIAAAAAAAEAJvXr/lzF/99j8qVjA5/7eOZGIBg7gRmBwAckQaAGAAAAA==" />
    <add key="/battery/energy/3/values" value="H4sIAAAAAAAEAJvXr/lzF/99D4YT+u5/7eOZGEAAyAYArCGCiBgAAAA=" />
    <add key="/battery/energy/4/values" value="H4sIAAAAAAAEAJvXr/lzF/99D4aeO25/7eOZGEAAyAYAvzjrPxgAAAA=" />
    <add key="/battery/energy/5/values" value="H4sIAAAAAAAEAJvXr/lzF/99D4Y3O9z+2sczMYDA6h1uAKiDN9QYAAAA" />
    <add key="/battery/power/0/values" value="H4sIAAAAAAAEAJvXr/lzF/99jwNeOx3/2sczMQDBmjv7HAESj008GAAAAA==" />
    <add key="/battery/timespan/0/values" value="H4sIAAAAAAAEAJvXr/lzF/99DwaZNNe/9vFMDCDwJM4VAKN7LqQYAAAA" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/data/2/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/data/3/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/throughput/7/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/throughput/8/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C05BC58-7A18-4917-BF09-41057DC5C5D3}/load/1/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/data/2/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/data/3/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/throughput/7/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/throughput/8/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{3C712270-5257-45D4-B798-97ED79573FAE}/load/1/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/data/2/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/data/3/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/throughput/7/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/throughput/8/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{985C6CD9-8439-496B-AB40-DE1B3B32E4E3}/load/1/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/data/2/values" value="H4sIAAAAAAAEADP1kf+5i/++BwODiUm9bDwTAxiYmAAAQpQXUhgAAAA=" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/data/3/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMDg2G9bDwTAwQYAgCG6wI2GAAAAA==" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/throughput/7/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/throughput/8/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{9818AD54-186D-462B-A373-A3DAA48B481F}/load/1/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ1MvGMzFAAQAW3zO9GAAAAA==" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/data/2/values" value="H4sIAAAAAAAEADP1kf+5i/++BwODscnP+HgmBjAwNgEAa8JFeRgAAAA=" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/data/3/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMDg+HP+HgmBggwBACogdw3GAAAAA==" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/throughput/7/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ/IyPZ2KAAgA4te28GAAAAA==" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/throughput/8/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ/IyPZ2KAAgA4te28GAAAAA==" />
    <add key="/nic/{2F0EDC6F-30FB-40A3-B849-759A89888071}/load/1/values" value="H4sIAAAAAAAEADP1kf+5i/++BwMQ/IyPZ2KAAgA4te28GAAAAA==" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/data/2/values" value="H4sIAAAAAAAEADP1kf+5i/++x4zlpdY/4+OZGIDgCEeZNQA7qEmZGAAAAA==" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/data/3/values" value="H4sIAAAAAAAEADP1kf+5i/++R3T4Nduf8fFMDECwBcgGACGQ8VMYAAAA" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/throughput/7/values" value="H4sIAAAAAAAEADP1kf+5i/++h+oxb5ef8fFMDEDgcXe6KwA1BP/nGAAAAA==" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/throughput/8/values" value="H4sIAAAAAAAEADP1kf+5i/++R5vMXOef8fFMDEDgyRDgDAD6AxhTGAAAAA==" />
    <add key="/nic/{001D066E-9F9F-4278-9423-55E20719E177}/load/1/values" value="H4sIAAAAAAAEADP1kf+5i/++R+bCDquf8fFMDEAg6D7TGgC5KpomGAAAAA==" />
    <add key="/nvme/1/temperature/0/values" value="" />
    <add key="/nvme/1/level/1/values" value="" />
    <add key="/nvme/1/level/2/values" value="" />
    <add key="/nvme/1/level/3/values" value="" />
    <add key="/nvme/1/data/4/values" value="" />
    <add key="/nvme/1/data/5/values" value="" />
    <add key="/nvme/1/load/0/values" value="" />
    <add key="/nvme/1/load/31/values" value="H4sIAAAAAAAEADP1kf+5i/++x/SeC471svFMDEBg+a/JEQA5oxYPGAAAAA==" />
    <add key="/nvme/1/load/32/values" value="H4sIAAAAAAAEADP1kf+5i/++R7E2m129bDwTAxC8WNVkBwC3vAEXGAAAAA==" />
    <add key="/nvme/1/load/33/values" value="H4sIAAAAAAAEADP1kf+5i/++h9sxH6d62XgmBiDg8mhxBABVTcefGAAAAA==" />
    <add key="/nvme/1/throughput/34/values" value="H4sIAAAAAAAEABPesv3nLv77Hokt772YvsYwMQCBgJqpFwDisGaZGAAAAA==" />
    <add key="/nvme/1/throughput/35/values" value="H4sIAAAAAAAEABPesv3nLv77Hgtbr7kzfY1hYgCChbdmeQAAz8kzzhgAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/load/31/values" value="H4sIAAAAAAAEADP1kf+5i/++R0XRLNN62XgmBigAAFTPPJIYAAAA" />
    <add key="/hdd/0/load/32/values" value="H4sIAAAAAAAEADP1kf+5i/++xzer99b1svFMDFAAAGmyG38YAAAA" />
    <add key="/hdd/0/load/33/values" value="H4sIAAAAAAAEADP1kf+5i/++x5RHJx3rZeOZGIDgib6mNQAySiHkGAAAAA==" />
    <add key="/hdd/0/throughput/34/values" value="H4sIAAAAAAAEABPesv3nLv77HgxAwPQ1hokBCgBpHb1MGAAAAA==" />
    <add key="/hdd/0/throughput/35/values" value="H4sIAAAAAAAEABPesv3nLv77HqZPalyYvsYwMQBBNKuzKwBjb7I7GAAAAA==" />
    <add key="/gpu-nvidia/0/temperature/0/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwODhNOy8mQmBjCQcAIArrNANBgAAAA=" />
    <add key="/gpu-nvidia/0/temperature/2/values" value="H4sIAAAAAAAEAEuWrv6xi/++B8MEK6dl5clMDCBgYe0EAGajfoYYAAAA" />
    <add key="/gpu-nvidia/0/temperature/3/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwMQLCtPZmKAAgDxDbOmGAAAAA==" />
    <add key="/gpu-nvidia/0/clock/0/values" value="H4sIAAAAAAAEAEuWrv6xi/++B8OC5c7LypOZGMCA2xkAqspNRxgAAAA=" />
    <add key="/gpu-nvidia/0/clock/4/values" value="H4sIAAAAAAAEAEuWrv6xi/++B4PCX+dl5clMDCDQcMoZAJjWIs8YAAAA" />
    <add key="/gpu-nvidia/0/load/0/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDBodl5clMDGBg4AAAb0ABmhgAAAA=" />
    <add key="/gpu-nvidia/0/load/1/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDD4dl5clMDGDwwQEA5n4bIxgAAAA=" />
    <add key="/gpu-nvidia/0/load/2/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwMQLCtPZmKAAgDxDbOmGAAAAA==" />
    <add key="/gpu-nvidia/0/load/3/values" value="H4sIAAAAAAAEAEuWrv6xi/++x4N/GxyXlSczMQABW9AGRwAkxlSBGAAAAA==" />
    <add key="/gpu-nvidia/0/power/0/values" value="" />
    <add key="/gpu-nvidia/0/throughput/0/values" value="H4sIAAAAAAAEAIv4W/9jF/99DwaGKo+dzElMDGDwywMA3Qz6hhgAAAA=" />
    <add key="/gpu-nvidia/0/throughput/1/values" value="H4sIAAAAAAAEAOO60fJjF/99DwYgkJmZwMQABr88ALKigrsYAAAA" />
    <add key="/gpu-nvidia/0/smalldata/4/values" value="H4sIAAAAAAAEAEuWrv6xi/++h4OChMuy8mQmBiBoqBJ3AQBQRtroGAAAAA==" />
    <add key="/gpu-nvidia/0/smalldata/5/values" value="H4sIAAAAAAAEAEuWrv6xi/++B0OZsdOy8mQmBhDgMXECAA9skaIYAAAA" />
    <add key="/gpu-nvidia/0/load/4/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDgf/LypOZGICgK2ylHQASh+YNGAAAAA==" />
    <add key="/gpu-nvidia/0/load/5/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDgf/LypOZGIBguehFWwAsYY1TGAAAAA==" />
    <add key="/gpu-nvidia/0/load/6/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDgf/LypOZGIDg37H51gDTbd7tGAAAAA==" />
    <add key="/gpu-nvidia/0/load/7/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDgf/LypOZGKAAAESZl1kYAAAA" />
    <add key="/gpu-nvidia/0/load/8/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDgf/LypOZGKAAAESZl1kYAAAA" />
    <add key="/gpu-nvidia/0/load/9/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDgf/LypOZGKAAAESZl1kYAAAA" />
    <add key="/gpu-nvidia/0/load/10/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDgf/LypOZGKAAAESZl1kYAAAA" />
    <add key="/gpu-nvidia/0/load/11/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwPDgf/LypOZGKAAAESZl1kYAAAA" />
    <add key="/gpu-nvidia/0/smalldata/0/values" value="H4sIAAAAAAAEAEuWrv6xi/++B0OFqOuy8mQmBhBYIuoKANTNp8IYAAAA" />
    <add key="/gpu-nvidia/0/smalldata/1/values" value="H4sIAAAAAAAEAEuWrv6xi/++B8MDTZdl5clMDCBgoOkCAP47kKUYAAAA" />
    <add key="/gpu-nvidia/0/smalldata/2/values" value="H4sIAAAAAAAEAEuWrv6xi/++BwODg+uy8mQmBjBwcAUAoiJnsRgAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALNfJvpzF/99Dwm3Kw6it+OYGICgjv2qAwA1+2ndGAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALNfJvpzF/99D4f3S+xFb8cxMQDBipcL7QEQpFKKGAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALNfJvpzF/99D4OK5U6it+OYGIDgiMAKJwDq+PpxGAAAAA==" />
    <add key="/ram/data/2/values" value="H4sIAAAAAAAEALNfJvpzF/99j4oJXI6it+OYGIBg92kuRwDlhjgcGAAAAA==" />
    <add key="/ram/data/3/values" value="H4sIAAAAAAAEALNfJvpzF/99jx8JNxxEb8cxMQBB0avrDgDOfsXhGAAAAA==" />
    <add key="/ram/load/1/values" value="H4sIAAAAAAAEALNfJvpzF/99jwXzEpxEb8cxMQDBxn8JTgC7CNq+GAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAFPJLfyxi/++R9TvZY7PfiYxMQDBFHZXRwBJzHbwGAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAFPJLfyxi/++h5azjdOzn0lMDECwRum0IwDmZpxGGAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAFPJLfyxi/++x8U2eadnP5OYGICgKKjbEQAHkiH7GAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAFPJLfyxi/++h8MjQcdnP5OYGICAQ2iSAwCEnZ/JGAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAFPJLfyxi/++x9+g047PfiYxMQBBg9IpRwDKRLyQGAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAFPJLfyxi/++h6pKueOzn0lMDEDQWcPiCADAfK4fGAAAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAFPJLfyxi/++B1vbB8dnP5OYGICAx7PPEQBqmGiQGAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAFPJLfyxi/++x+7Ijw7PfiYxMQBBXGamAwC3SbnfGAAAAA==" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAFPJLfyxi/++x+OUS47PfiYxMQBB7vx+RwAWdT0UGAAAAA==" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAFPJLfyxi/++h392sOOzn0lMDEBQ0p7mAACwb7Z1GAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwODp9Ozn0lMDGBg6QQALY2tkxgAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwODv9Ozn0lMDGDg4wQAKEsnORgAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwNDiFOaQwoTAxhYOQEAeM3XIBgAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwODm1OaQwoTAxhYOwEA+AQQvhgAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwNDhlOaQwoTAxh4OwEAVlDQlxgAAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwODu9Ozn0lMDGAQ7gQAhJ5IoxgAAAA=" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwODo9Ozn0lMDGDg4gQAoJRlOhgAAAA=" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwODjVOaQwoTAxiEOQEAzHgbVhgAAAA=" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwODl1OaQwoTAxiEOgEA/NObbxgAAAA=" />
    <add key="/intelcpu/0/temperature/9/values" value="H4sIAAAAAAAEAFPJLfyxi/++BwNDulOaQwoTAxj4OgEAJkMelxgAAAA=" />
    <add key="/intelcpu/0/temperature/10/values" value="H4sIAAAAAAAEAFPJLfyxi/++B0ODj1OaQwoTAwg02DkBAB3B4r4YAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAEuWrv6xi/++x3GGE07SPMlMDECgDmQDAI+r3ZQYAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEANt+qfjHLv77Ht8DSl1nKyQzMQCBWoCzKwAScv0mGAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAMtwKfuxi/++x7cDxa6tbMlMDECg9sDFFQDdnhMgGAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAOPeXPFjF/99j28Hil3FOJOZGIBA7YCjKwAfYEbdGAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAEuWrv6xi/++xzeDIldpnmQmBiBQM3BwBQCsrAJxGAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAEuWrv6xi/++x+6zHo7SPMlMDECwXOy5AwAAgbKjGAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAEuWrv6xi/++R46QuaM0TzITAxA4RR1yAAALmVCSGAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAEuWrv6xi/++x0H7X3bSPMlMDEBw7MwvOwBexSB3GAAAAA==" />
    <add key="/intelcpu/0/voltage/0/values" value="H4sIAAAAAAAEAEuWrv6xi/++B8OnKfbSPMlMDCBwvtEeAA8qxaMYAAAA" />
    <add key="/intelcpu/0/voltage/1/values" value="H4sIAAAAAAAEAEuWrv6xi/++B8OGSfbSPMlMDCAwpdEeAARqk1kYAAAA" />
    <add key="/intelcpu/0/voltage/2/values" value="H4sIAAAAAAAEAEuWrv6xi/++B0POZHtpnmQmBhBYUGcPACGGMfEYAAAA" />
    <add key="/intelcpu/0/voltage/3/values" value="H4sIAAAAAAAEAEuWrv6xi/++B8PGSfbSPMlMDCBgUGcPACK5Pa0YAAAA" />
    <add key="/intelcpu/0/voltage/4/values" value="H4sIAAAAAAAEAEuWrv6xi/++B8OKCfbSPMlMDCBwqc4eAGHxJdQYAAAA" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="plotPanel.MinNoise" value="0" />
    <add key="plotPanel.MaxNoise" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" />
  </appSettings>
</configuration>